<h1>Vos réservations</h1>
<div class="bookings">
    <% @bookings.each do |booking| %>
        <div class="booking">
            <h2><%= booking.lesson.name %></h2>
            <p>Début du cours: <%= booking.lesson.start_time %></p>
            <p>Fin du cours: <%= booking.lesson.end_time %></p>
            <p>Quantité réservée: <%= booking.quantity %></p>
        </div>
        <div>
            <% if booking.lesson.past_lesson? %>
                <%= link_to booking_path(booking), method: :delete, data: { confirm: "Etes-vous certain de vouloir annuler cette réservation?" } do %>
                    <p>Annuler cette réservation</p>
                <% end %>
            <% else %>
                <p>Trop tard pour annuler cette réservation</p>
            <% end %>
        </div>
    <% end %>
</div>