<h1><%= @lesson.name %></h1>
<div class="details">
    <%= @lesson.category.name %>
    <%= @lesson.thematic.name %>
</div>
<div class="dates">
    Début du cours: <%= @lesson.start_time %>  
    Fin du cours: <%= @lesson.end_time %> 
</div>
<div class="capacity">
    Nombre de places maximales: <%= @lesson.capacity %>
</div>
