<h1><%= @lesson.name %></h1>
<div class="details">
    <%= @lesson.category.name %>
    <%= @lesson.thematic.name %>
</div>
<div class="dates">
    Début du cours: <%= @lesson.start_time %>  
    Fin du cours: <%= @lesson.end_time %> 
</div>
<div class="capacity">
    Nombre de places maximales: <%= @lesson.capacity %>
</div>
<% if @lesson.full? %>
    <p>Cours complet</p>
<% else %>
    <% if !@lesson.past_lesson? %>
        <%= link_to new_lesson_booking_path(@lesson) do %>
            <div class="btn btn-book">Réserver</div>
        <% end %>
    <% end %>
<% end %>
