<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Récapitulatif de Commande</h1>
      <p>Commande N°<strong><%= @order.id %></strong> pour <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
      <% @order.cart.packages.each do |package| %>
        <div class="card w-100">
          <div class="card-body">
            <span class="card-title"><%= package.quantity%> Crédits <%= package.category.name %></span>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        <button id="pay" class="btn btn-primary mt-4">Payer</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
      </script>
      </div>
    </div>
  </div>
</div>