<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Récapitulatif de Commande</h1>
      <h5>Commande N°<strong><%= @order.id %></strong> pour <strong><%= humanized_money_with_symbol @order.amount %></strong></h5>
      <div class="card w-100 card-package mt-4">
      <% @order.cart.packages.each do |package| %> 
            <p class="px-3 py-2"><%= package.quantity%> Crédits <%= package.category.name %></p>
      <% end %>
    </div>
      <div class="text-center">
        <button id="pay" class="btn btn-primary mt-4">Payer</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
      </script>
      </div>
    </div>
  </div>
</div>