<h1 style="color: #005C67;"><%= t("devise.mailer.invitation_instructions.hello", first_name: @resource.first_name, last_name: @resource.last_name) %></h1>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>

<p style="color: #005C67;"><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, invitation_token: @token) %></p>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

<p><%= t("devise.mailer.invitation_instructions.ignore") %></p>

<p><%= t("devise.mailer.invitation_instructions.greetings") %></p>

<p><%= t("devise.mailer.invitation_instructions.signature") %></p>

<img src="https://core-studio.herokuapp.com/assets/logo-core-75a84b0c509e7d01d2fa135d01e80f47fc228da88b29531198f910557cda24ba.jpg" alt="logo Core Studio" width="200">
